body{
   background-color: #67E241;
   text-align: center;
   

   }
       
   }
   div{
       
       
   }
   button{
    width: fit-content; height : auto;
       background-color: #66B0F6;
       border-radius: 20cm ;
       margin: 10px;
       padding: 10px;
       font-size: large;
       font-family: sans-serif;
       
       
   }
   

