h1{
    
}
body{
    background-color: #67E241;
    
    
}
div{
    
    
}
button{
    
    background-color: #BC41E2;
        width: fit-content; height : auto;
           background-color: 
           border-radius: 20cm ;
           margin: 5px;
           padding: 5px;
           font: size 36px;;
           font-family: sans-serif;
           border-radius: 20px;
    
}
body{
    text-align: center;
    
}